main {
    margin-top: 60px;
    color: red;

}

 /*Sticky Footer*/
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: linear-gradient(rgba(141,153,174, .8), rgba(141,153,174, .8)), url("img/kittens.jpeg");
    background-size: cover;
    font-family: 'Bad Script', cursive;
}

.footer, .container {
    position: absolute;
    width: 100%;
}

.footer{
    /* Set the fixed height of the footer here */
    background-color: #222;
    height: 50px;
    bottom: 0;
    position: fixed;
}

.text-muted, .title{
    text-align: center;
}

.text-muted{
    color: lightskyblue;
    padding: 20px;
}

.posts{
    padding: 40px;
    text-align: center;
    font-size: 40px;
}

#login-header{
    padding-top: 100px;
    text-align: center;
}

#login{
    padding-top: 100px;
    text-align: center;
}

