<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('Post Show Page')"></head>
<body>

    <div th:replace="partials/navbar :: navbar"></div>

    <main class="container">
        <h1>Post</h1>

        <h3><span th:text="${post.title}"></span> </h3>
        <p><span th:text="${post.body}"></span> </p>
        <p><span th:text="${'Email: ' + post.user.email}"></span></p>

    <div class="btn-group" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == post.user.id}">
            <a th:href="@{/posts/{id}/edit(id=${post.id})}">
                <button>Edit</button>
            </a>

    </div>

    <div>
        <h2>Comments</h2>
        <a sec:authorize="isAuthenticated()" th:href="@{/posts/{id}/comments/create(id=${post.id})}">
            <button>Add Comment</button>
        </a>

        <div class="comment" th:each="comment : ${comments}">
            <div sec:authorize="isAuthenticated()"><p><a th:href="@{/posts/{id}/comments/{cid}(id=${post.id}, cid=${comment.id})}"><span th:text="${'Author: ' + comment.user.username}"></span></a><br /><span th:text="${comment.body}"></span></p></div>
        </div>
    </div>
    </main>

    <div th:replace="partials/footer :: footer"></div>
</body>
</html>