<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Create Post')"></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <h1>Create Post</h1>

    <form th:action="@{/posts/{id}/comments/create(id=${post.id})}" th:method="post" th:object="${comment}">
            <input th:type="hidden" type="hidden" th:field="*{post}" />
            <label for="body">Comment</label>
            <textarea id="body" class="form-control" placeholder="Enter comment." type="text" th:field="*{body}">
                </textarea>


        <button class="btn btn-large btn-success">Comment</button>

    </form>

</main>

<div th:replace="partials/footer :: footer"></div>
</body>
</html>